<script type="text/javascript" src="/js/application.js"></script>

<h1 id="header" class="flow-text white-text card-panel light-blue darken-2 z-depth-2">Search Flickr With Your Voice!</h1>

    <div class="row">
      <div class="col s20 m6">
        <div class="card grey lighten-4 z-depth-2">
          <div class="card-content red-text">
            <span class="card-top">Your Query:</span> <span class="right"><i id="mic-icon" class="material-icons small">mic_none</i></span>
              <div class="query_space"><span class="red-text center" id="query"></span></div>
          </div>
          <div class="card-action">
            <span class="card-action red-text" id="output"></span>
            <button class="btn red right" id="start">Listen!</button>
          </div>
        </div>
      </div>
    </div>



<div id="pictures"></div>
