<script type="text/javascript" src="/js/application.js"></script>

<h1>Search Flickr With Your Voice!</h1>
<div>
  <button id="start">Listen!</button>
</div>

<p id="output"></p>

<p id="query"></p>

<div id="pictures"></div>
