<script type="text/javascript" src="/js/application.js"></script>

<h1>Search Flickr With Your Voice!</h1>
<div>
  <button id="start">Listen!</button>
</div>

<p>Your Query: <span id="query"></span></p>

<p>Information: <span id="output"></span></p>

<div id="pictures"></div>
